.filler {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.input-form {
  display: flex;
  flex-direction: row;
  text-size-adjust: inherit;
}

  .input-form {
    width: 100%;
  }

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  background-size:auto;
}

.flexing {
  display: flex;
}
