<mat-toolbar color="warn" class="flexing">
  <span>
    De Way&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-stroked-button>New Bruddas</button>&nbsp;&nbsp;
    <button mat-stroked-button>Bruddas List</button>&nbsp;&nbsp;
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="filler"></span>

  <span>
    <div class="input-form">
      <mat-form-field>
        <input matInput placeholder="User Name">
      </mat-form-field>&nbsp;&nbsp;
      <mat-form-field>
        <input matInput placeholder="Password">
      </mat-form-field>
      <button mat-button class="example-button-row">Login</button>
    </div>
  </span>
</mat-toolbar>
